{% extends "base.html.twig" %}

{% block title %}Card Play{% endblock %}

{% block content %}

<div class="game-board">
    
    <div>
        <h1>21 Card Game!</h1>
        <h2>Bank</h2>
        {% for card, data in newbank %}
            <p class="info1" style="color: {{ data[0] }}">{{ data }}</p> 
        {% endfor %}
        <h2>Player</h2>
        {% for card, data in new %} 
            <p class="info1" style="color:{{ data[0] }}">{{ data[2] }}</p> 
        {% endfor %}
    </div>
    
    <form method="post">
        {% set draw_clicked = app.request.method == 'POST' and app.request.request.get('draw') is defined %}
        {% set stop_clicked = app.request.method == 'POST' and app.request.request.get('stop') is defined %}

        {% if not draw_clicked or not stop_clicked or valuesum >= 21 or valuesumBanken >= 21 %}
            <input class="button" type="submit" name="newround" value="New Round">
        {% endif %}
        {% if valuesum < 21 and valuesumBanken < 21 %}
            <input class="button" type="submit" name="draw" value="Draw">
            <input class="button" type="submit" name="stop" value="Stop">
        {% endif %}
    </form>
    
    <div>
        {% if valuesum == 21 %}
            <div>Player: You win! Congratulations!</div>
            <div>Bank: {{ valuesumBanken }}</div>
        {% elseif valuesumBanken == 21 %}
            <div>Player: {{ valuesum }}</div>
            <div>Bank: Bank wins! Better luck next time.</div>
        {% elseif gamefinshed and valuesum < 21 and valuesumBanken < 21 %}
            {% if valuesum > valuesumBanken %}
                <div>Player: You win! Congratulations!</div>
                <div>Bank: {{ valuesumBanken }}</div>
            {% elseif valuesum < valuesumBanken %}
                <div>Player: Bank wins! Better luck next time.</div>
                <div>Bank: {{ valuesumBanken }}</div>
            {% endif %}
        {% elseif valuesum < 21 and valuesumBanken < 21 %}
            <div>Player: {{ valuesum }}</div>
            <div>Bank: {{ valuesumBanken }}</div>
        {% else %}
            <div>One of the players has exceeded 21. Game over.</div>
            <div>Player: {{ valuesum }}</div>
            <div>Bank: {{ valuesumBanken }}</div>
        {% endif %}
    </div>

</div>

{% endblock %}
