<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        
    </head>
    

    <body>
        <header>
            <div>
            
                <div class="hero-text">
                    <p style="font-size:50px; font-family: Arial, Helvetica, sans-serif">MOAWYA MEARZA</p>
                </div>
            </div>
        </header>
        <div class="sidenav">
            <nav>
                
                    <a href="{{ url("home") }}">Home</a>
                    <a href="{{ path("about") }}">About</a>
                    <a href="{{ path("report") }}">Report</a>
                    <a href="{{ path("card") }}">Card</a>
                    <a href="{{ path("game") }}">Game</a>
                    <a href="{{ path("app_library") }}">Library</a>
                    <a href="{{ path("metrics_analys") }}">Metrics analys</a>
                    <a href="{{ path("game_index") }}">Projekt</a>
            </nav>
        </div>
        <div class = "main">
        {% block content %}
        Default content
        {% endblock %}
        </div>
        <div class="footer-basic">
            <footer>
                
                <p class="copyright">Moawya© 2022</p>
            </footer>
        </div>
    </body>
</html>
