{% extends 'base.html.twig' %}

{% block title %}Add New Book{% endblock %}

{% block content %}
    <div class="navbar">
            <nav>
                <ul>
                    <li><a href="{{ url("book_new") }}">Creat Book</a></li>
                    <li><a href="{{ url("library_show_all_books") }}">Show All Books</a></li>
                </ul>
            </nav>
    </div>
    <h1>Add New Book</h1>
     <form method="post" enctype="multipart/form-data">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Submit</button>
        {{ form_end(form) }}
    </form>
    <p> {{ bild }}</p>
{% endblock %}